@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Using this web app, you can see at night, as clearly as in daylight, who is entering your house, via a thermal image.</br>
    Should it be an unauthorized person, an alarm will go off.</br>
    Otherwise, you or any authourized person can turn the alarm off.</p>
