@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Tel Aviv University<br />
    Haim Levanon St.<br />
    Tel Aviv<br/>
    Israel<br/>

</address>

<address>
    <strong>Support:</strong> <a href="mailto:iotProject@gmail.com">iotProject@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:iotProject@gmail.com">iotProject@gmail.com</a>
</address>
